<section id="one" class="tiles">
  {% if site.tiles-source == 'posts' %}
    <article>
      <span class="image">
        <img src="{{ post.image }}" alt="" />
      </span>
      <header class="major">
        <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
        <p>{{ post.description }}</p>
      </header>
    </article>
  {% elsif site.tiles-source == 'pages' %}
    {% assign pages = site.pages | sort:"tile_weight" %}
    {% assign tile_count = 0 %}
    {% for page in pages %}
      {% if page.title and page.show_tile %}
        {% assign tile_count = tile_count | plus:1 %}
        <article>
          {% if page.tile_image %}
            <span class="image">
              <img src="{{ page.tile_image }}" alt="" />
            </span>
          {% endif %}
          <header class="major">
            <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
            <p>{{ page.excerpt }}</p>
          </header>
        </article>
      {% endif %}
      
      {% if tile_count >= site.tiles-count %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
</section>
